/* GLOBAL */

:root {
    font-family: 'Ubuntu', sans-serif;
}

body {
    overflow: hidden;
    height: 100%;
}

/* HOME */

.home {
    display: none;
}

#homeBg {
    position: absolute;
    top: 0px;
    left: -1%;
    width: 105%;
    z-index: 15;
}

#init_button{
    position: relative;
    margin-top: 23%;
    padding: 0.7%;
    font-size: 2vw;
    z-index: 15;
    background-color: #2F528C;
    color: white;
}

/* SIDE BAR */

#sideBar {
    background-color: #BDA888 ;
    position: absolute;
    left: 30px;
    top: 3%;
    width: 300px;
    height: 93%;
    z-index: 14;

    display: none;
} 

.logoSideBar {
    margin-top: 10px;
    height: 200px;
}

.btnSideBar {
    width: 300px;
    height: 30px;
    font-size: 1.1vw;
    background-color: #2F528C;
    color: white;
}

#statisticsBox {
    display: block;
    margin-top: 30px;
}

.leftContentCombo {
    width: 300px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.leftContent {
    width: 293px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.bigTitle {
    font-weight: 600;
    font-size: 1.2vw;
    margin-bottom: 5px;
    margin-left: 10px;
}

.smallTitle{
    font-weight: 500;
    font-size: 1vw;
    margin-bottom: 5px;
    margin-left: 10px;
}

.subTitle {
    font-weight: 400;
    font-size: 0.8vw;
    margin-bottom: 5px;
    margin-left: 10px;
}

.abmVinosBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* ABM VINOS */

#vinos {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;

    z-index: 13;
}

#imgAbmVinosBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(2px);
    z-index: 12;
} 


/* SEPARATOR */

.separator {
    position: absolute;
    height: 94%;
    width: 2px;
    top: 3%;
    background-color: white;
    z-index: 14;
}

/* TABLA */

#tableData {
    position: absolute;
    left: 390px;
    top: 3%;
    width: 45%;
    height: 45%;
    background-color: #BDA888;

    z-index: 13;
}

#btnShowDeletedIds {
    position: absolute;
    top: 8%;
    left: 40%;
    background-color: #2F528C;
    color: white;
}

.tblBigTitle {
    font-weight: 600;
    font-size: 1.2vw;
}

.tblSmallTitle{
    font-weight: 500;
    font-size: 1vw;
    margin-left: 20px;
    margin-right: 20px;
}

.tblInputs, #cepaBox {
    height: 47px;
    width: 300px;
}

#tblVinos {
    margin: 10%;
    margin-bottom: 1%;
    background-color: white ;
}

#abmBtns {
    margin: 10%;
    margin-top: 5px;
    width: 445px;
}

.dataButton {
    margin-left: 5px;
    margin-right: 5px;
    border: solid 1px black;
    width: 22%;
    background-color: #2F528C;
    color: white;
}

/* DATA BASE */

.dataBase {
    position: absolute;
    left: 390px;
    top: 50%;
    width:78%;
    height: 46%;
    background-color: #BDA888;

    z-index: 13;
}

.dbWine {
    margin: 2%;
    margin-top: 1%;
    width: 45.5%;
    height: clamp(200px, 350px, 400px);
}

#stockControl {
    background-color: #BDA888;
    position: absolute;
    left: 67%;
    top: 3%;
    height: 45%;
    width: 31.3%;

    z-index: 13;
}

.deletedIds {
    position: absolute;
    top: 25%;
    left: 25%;
    height: 50%;
    width: 50%;

    display: none;

    z-index: 3;
    background-color: cadetblue;
}

/* BODEGAS */

.bodegas {
    position: absolute;
    top: 3%;
    left: 390px;
    width: 40%;
    height: 93%;

    background-color: #BDA888;
}

.bodegaTblInput {
    height: 38px;
    width: 97%;
}

.abmBodegasBtns {
    width: 24%;
    border: solid 1px black;
    background-color: #2F528C;
    color: white;
}

#dbBodegas {
    height: 540px;
    width: 90%;
}

/* CEPAS */

.cepas {
    position: absolute;
    top: 3%;
    left: 63%;
    height: 52%;
    width: 35%;

    background-color:#BDA888;
}

.abmCepasButtons {
    border: solid 1px black;
    background-color: #2F528C;
    color: white;
    width: 24.5%;
}

#tblNombreCepa {
    width: 97%;
    height: 38px;
}

#dbCepas {
    width: 90%;
    height: 280px;
}

/* RELATING WINES AND STORES */

.relateWineStock {
    position: absolute;
    top: 59%;
    left: 63%;
    width: 35%;
    height: 37%;

    background-color: #BDA888;
}

.relateCombo {
    width: 100%;
    height: 38px;
}




/* CREDITS */

#creditos {
    display: none;
    z-index: 20;
}

#creditsBackground {
    position: absolute;
    top: 0px;
    left: -1%;
    width: 102%;
    filter: blur(4px);
    z-index: 20;
}

.authors {
    font-size: 4vw;
    position: absolute;
    top: 30%;
    left: 10%;
    z-index: 21;
}

#creditsTitle {
    font-family: 'Lobster Two', cursive;
    font-weight: 400;
    z-index: 21;
}

#creditsSubtitle {
    font-family: 'Lobster Two', cursive;
    font-weight: 700;
    z-index: 21;
}

.btns {
    position: absolute;
    bottom: 3%;
    left: 5%;
    margin: 3%; 
    z-index: 21;

}

#btns {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1vw;
    z-index: 21;
}

/* DELETED IDS */

#frmDeletedIds {
    position: absolute;
    width: 30%;
    height: 40%;
    top: 30%;
    left: 35%;
    border: solid 1px black;
    background-color: burlywood;

    z-index: 14;
    display: none;
}

#displayerDeletedIds {
    height: 270px;
    width: 70%;
    margin-bottom: 10px;
}